#page-landing{
  width:100vw; /*ocupa 100% da largura*/
  height:100vh; /*ocupa 100% da altura*/
  background: linear-gradient(329.54deg, #29B6D1 0%, #00C7C7 100%);
  display: flex;
  justify-content: center;
  align-items: center;
}

#page-landing .content-wrapper{
  width: 100%;
  max-width: 1100px;
  height: 100%;
  max-height: 680px;
  position:relative; /* Permite o uso de position absolute dentro*/

  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: space-between;

  background: url('../../images/landing_page.svg') no-repeat 80% center;
}

.content-wrapper .location{
  position: absolute;
  right:0;
  top: 0;

  font-size: 24px;
  line-height: 34px;

  display: flex;
  flex-direction: column;
  text-align: left;
}

.content-wrapper .location strong{
  font-weight: 800;
}

.content-wrapper .enter-app{
  position: absolute;
  right: 0;
  bottom: 0;

  width: 80px;
  height: 80px;
  background-color: #ffd666;
  border-radius: 30px;

  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.2s;
}


.content-wrapper .enter-app:hover{
  background-color: #96FEFF;
}

.content-wrapper main{
  max-width: 350px;
}

.content-wrapper main h1{
  font-size: 76px;
  font-weight: 900;
  line-height: 70px;
}

.content-wrapper main p{
  margin-top: 40px;
  font-size: 24px;
  line-height: 34px;
}
